* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:20px;
  background:inherit;
}

.nav-links li{
  text-decoration:none;
  font-weight:500;
  font-size:1.1rem;
  transition:color 0.25s ease, transform 0.25s ease;
}

.nav-links li:hover{
  text-decoration:underline;
  transform:translateY(-3px);
  color :#6e6e6e;
}

.nav-links a{
  text-decoration:none;
  color:#333;
  transition:color 0.25s ease, transform 0.25s ease;
}

.nav-links a:hover{
  text-decoration:underline;
  color :#000000;
  transition:all 0.3s ease;
}

.navbar-container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:linear-gradient(to bottom, #cfcfcf, #4b4b4b);
    margin: 0;
}

.navbar {
    display:flex;
    align-items:center;
    gap:30px;
    background:initial;
}

.navbar-container p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin: 0;
    display:flex;
    justify-content:center;
}

.logo {
    height:6rem;
    width:auto;
    border-radius: 50%;
}

.logo-container {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:10px;
}

.logo-container h1 {
    font-size: 1.3rem;
    font-weight: 700;
    color: #333;
    margin: 0;
}

.li1 {
    animation: MadeFrom 6s ease-in-out infinite alternate;
    font-size:1.5rem;
    font-weight:900;
}

.li2 {
    animation: MadeFrom 6s ease-in-out infinite alternate;
    animation-delay:0.5s;
}

.li3 {
    animation: MadeFrom 6s ease-in-out infinite alternate;
    animation-delay:1s;
}

.li4 {
    animation: MadeFrom 6s ease-in-out infinite alternate;
    animation-delay:1.5s;
}

@keyframes MadeFrom {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(20px);
    }
}